<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge PDFs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='Herramientas.webp') }}" alt="Logo" class="logo">
        </header>
        <nav class="menu">
            <a href="/">Home</a>
            <a href="/merge">Merge PDFs</a>
            <a href="/crop">Crop PDF</a>
            <a href="/convert-to-images">PDF a 3 Fotos</a>
            <a href="/convert-to-pdf">Convert Images to PDF</a>
        </nav>
        <div class="content">
            <h1>Merge PDFs</h1>
            <form action="/merge" method="post" enctype="multipart/form-data">
                <input type="file" name="files" multiple>
                <button type="submit">Merge</button>
            </form>
        </div>
    </div>
</body>
</html>
